<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.xxl.job.admin.dao.XxlJobGroupDao">
	
	<resultMap id="XxlJobGroup" type="com.xxl.job.admin.core.model.XxlJobGroup" >
		<result column="id" property="id" />
	    <result column="app_name" property="appName" />
	    <result column="title" property="title" />
	    <result column="order" property="order" />
		<result column="address_type" property="addressType" />
		<result column="address_list" property="addressList" jdbcType="VARCHAR" />
	</resultMap>

	<sql id="Base_Column_List">
		t.id as "id",
		t.app_name as "app_name",
		t.title as "title",
		t.worder as "order",
		t.address_type as "address_type",
		t.address_list as "address_list"
	</sql>

	<select id="findAll" resultMap="XxlJobGroup">
		SELECT <include refid="Base_Column_List" />
		FROM xxl_job_group t
		ORDER BY t.worder ASC
	</select>

	<select id="findByAddressType" parameterType="java.lang.Integer" resultMap="XxlJobGroup">
		SELECT <include refid="Base_Column_List" />
		FROM xxl_job_group t
		WHERE t.address_type = #{addressType,jdbcType=INTEGER}
		ORDER BY t.worder ASC
	</select>

	<insert id="save" parameterType="com.xxl.job.admin.core.model.XxlJobGroup" useGeneratedKeys="true" keyProperty="id" >
		<selectKey resultType="int"  keyProperty="id" order="BEFORE">
		  SELECT xxl_job_group_id.nextval FROM DUAL
		</selectKey>
		INSERT INTO xxl_job_group ( id,app_name, title, worder, address_type, address_list)
		values (#{id},#{appName,jdbcType=VARCHAR}, #{title,jdbcType=VARCHAR}, #{order}, #{addressType,jdbcType=INTEGER}, #{addressList,jdbcType=VARCHAR})
	</insert>

	<update id="update" parameterType="com.xxl.job.admin.core.model.XxlJobGroup" >
		UPDATE xxl_job_group
		SET app_name = #{appName,jdbcType=VARCHAR},
			title = #{title,jdbcType=VARCHAR},
			worder = #{order},
			address_type = #{addressType,jdbcType=INTEGER},
			address_list = #{addressList,jdbcType=VARCHAR}
		WHERE id = #{id}
	</update>

	<delete id="remove" parameterType="java.lang.Integer" >
		DELETE FROM xxl_job_group
		WHERE id = #{id}
	</delete>

	<select id="load" parameterType="java.lang.Integer" resultMap="XxlJobGroup">
		SELECT <include refid="Base_Column_List" />
		FROM xxl_job_group t
		WHERE t.id = #{id}
	</select>

</mapper>